.gradient-custom {
    background: #4a67e6;
    background: -webkit-linear-gradient(to top, rgba(81,109,236,0.6), rgba(99,61,138,0.6));
    background: linear-gradient(to top, rgba(81,109,236,0.6), rgba(99,61,138,0.6))
  }
  .list-group:hover{
    --bs-list-group-action-hover-bg: rgb(240, 219, 255);
  }
  
  @import "../node_modules/bootstrap/scss/bootstrap.scss"