div {
   height: 350px;
   width: 220px;
   padding: 15px 10px 20px 10px; 
   margin-bottom: 30px;
   border: 2px;
   border-style: dotted;
   border-color: red;
   background-color: rgb(111, 203, 111);
}